In [7]:
import requests
import json

In [12]:
response = requests.get("https://api.idescat.cat/emex/v1/dades.json")

In [15]:
import pandas as pd
df = pd.json_normalize(response.json())

In [16]:
df.head()

,fitxes.p,fitxes.indicadors,fitxes.lang,fitxes.version,fitxes.cols.col,fitxes.n,fitxes.o
0,"tipus=cat,com,mun",,ca,1.00,"[{'scheme': 'mun', 'id': '250019', 'content': ...",0,dades

In [18]:
pd.json_normalize(df['fitxes.cols.col'])

,0,1,2,3,4,5,6,7,8,9,...,980,981,982,983,984,985,986,987,988,989
0,"{'scheme': 'mun', 'id': '250019', 'content': '...","{'scheme': 'mun', 'id': '080018', 'content': '...","{'scheme': 'mun', 'id': '250024', 'content': '...","{'scheme': 'mun', 'id': '250030', 'content': '...","{'scheme': 'mun', 'id': '080023', 'content': '...","{'scheme': 'mun', 'id': '170010', 'content': '...","{'scheme': 'mun', 'id': '080142', 'content': '...","{'scheme': 'mun', 'id': '430017', 'content': '...","{'scheme': 'mun', 'id': '170025', 'content': '...","{'scheme': 'mun', 'id': '250387', 'content': '...",...,"{'scheme': 'com', 'id': '34', 'content': 'Selva'}","{'scheme': 'com', 'id': '35', 'content': 'Sols...","{'scheme': 'com', 'id': '36', 'content': 'Tarr...","{'scheme': 'com', 'id': '37', 'content': 'Terr...","{'scheme': 'com', 'id': '38', 'content': 'Urge...","{'scheme': 'com', 'id': '39', 'content': 'Aran'}","{'scheme': 'com', 'id': '40', 'content': 'Vall...","{'scheme': 'com', 'id': '41', 'content': 'Vall...","{'scheme': 'com', 'id': '42', 'content': 'Moia...","{'scheme': 'ca', 'id': '09', 'content': 'Catal..."

In [21]:
js = response.json()

In [23]:
js.keys()

dict_keys(['fitxes'])

In [33]:
js['fitxes']['cols']['col'][1].keys()

dict_keys(['scheme', 'id', 'content'])